{{define "page_js"}}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/assets/static/index.js"></script>
{{end}}
{{define "page_css"}}{{end}}
{{define "content"}}
<div id="content">
  <div class="searchArea">
    <input type="text" id="search_field" placeholder="Search content by title or filename" />
  </div>
  <div>
    <a href="?r={{if .ReverseFlg}}{{else}}1{{end}}">reverse</a>
  </div>
  <dl class="list">
    {{ range .Files }}
    <dt>
      <a href="./{{ .Path }}" class="link">{{ .Path }}</a>
      <span class="title">{{ .Title }}</span>
    </dt>
    {{ end }}
  </dl>
  <div class="urlArea">
    <form action="" method="GET" class="url_field_area">
      <input type="text" name="url" id="url_field" placeholder="URL" />
      <button type="submit">Show</button>
    </form>
  </div>
</div>
{{end}}
