{{define "page_js"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/highlight.js/8.9.1/highlight.min.js"></script>
<script>$("div.highlight pre").each(function(){ hljs.highlightBlock(this) })</script>
{{end}}
{{define "page_css"}}
<link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/8.9.1/styles/default.min.css">
{{end}}
{{define "content"}}
{{ if .HasLocals }}
<div id="locals">
  <ul>
    {{ range .Locals  }}
    <li><a href="?local={{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
<div id="content">
  {{.Body|htmlsafe}}
</div>
{{end}}
